body {
  background-color: black;
}

#btn-0-div {
  width: 160px;
}

#btn-0,
#btn-del {
  width: 144px !important;
  border-radius: 32px !important;
}

.rounded-circle {
  width: 64px !important;
  height: 64px !important;
}



#display-out {
  background-color: black;
  color: #FFFFFF;
  padding: 0 8px;
}

#result-out {
  background-color: black;
  padding: 0 8px;
  color: #A5A5A5;
}

button {
  margin: 8px;
}

.number-btn {
  background-color: #333333;
  color: #FFFFFF;
}

.operator-btn {
  background-color: #FF9507;
  color: #FFFEFC;
}

.other-btn,
#btn-del {
  background-color: #A5A5A5;
  color: black;
}

@media (max-width: 575.98px) {
  .App {
    position: fixed;
    bottom: 4px;
    width: 100%;
  }

  .app-container {
    margin-right: auto;
    margin-left: auto;
  }
}