body {
  background-color: #414650;
}

.button-panel {
  background-color: #414650;
}

#display-out {
  background-color: transparent;
  color: #FFFFFF;
  padding: 0 8px;
}

#result-out {
  background-color: transparent;
  padding: 0 8px;
  color: #C2C3CA;
}

button {
  margin: 8px;
}

.number-btn {
  background-color: #333333;
  color: #FFFFFF;
}

.operator-btn-div {
  background-color: #17A1E9;
  color: #FFFEFC;
}

.operator-btn-div:hover,
.number-btn-div:hover,
.other-btn-div:hover {
  cursor: pointer;
}

.operator-btn:focus,
.number-btn:focus,
.other-btn:focus {
  outline: 0;
}


.other-btn-div {
  background-color: #C2C3CA;
}

@media (max-width: 575.98px) {
  .App {
    position: fixed;
    align-items: flex-end !important;
    bottom: 0px;
    width: 100%;
  }

  .inner-app-div {
    border-width: 0px !important;
  }
}

@media (min-width: 576px) {
  .inner-app-div {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }
}