body {
  background-color: #414650;
}

.button-panel {
  background-color: #414650;
}

#display-out {
  background-color: transparent;
  color: #FFFFFF;
  padding: 0 8px;
}

#result-out {
  background-color: transparent;
  padding: 0 8px;
  color: #A5A5A5;
}

button {
  margin: 8px;
}

.number-btn {
  background-color: #333333;
  color: #FFFFFF;
}

.operator-btn-div {
  background-color: #17A1E9;
  color: #FFFEFC;
}

.other-btn-div {
  background-color: #C2C3CA;
}

@media (max-width: 575.98px) {
  .App {
    position: fixed;
    align-items: flex-end !important;
    bottom: 0px;
    width: 100%;
  }

  .inner-app-div {
    border-width: 0px !important;
  }
}